<h1>Selamat datang, <%= username %>!</h1>
<h3>Halaman guru</h3>
<p>Anda berhasil login sebagai <%=user%>.</p>
<% if (user) { %>
    <a href="/logout?username=<%= username %>&email=<%= email %>&role=<%= user %>">Logout</a>
<% } %>