<h1>Selamat datang, <%=nama %>!</h1>
<h3>Halaman admin</h3>
<p>Anda berhasil login sebagai <%=user%>.</p>
<% if (user) { %>
    <a href="/logout?username=<%= username %>&email=<%= email %>&role=<%= user %>&kelas=<%= kelas %>">Logout</a>
<% } %>